@page
@model AIDemoWeb.Demos.Pages.UsersPageModel

@{
    ViewData["Title"] = "Users";
}


<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold leading-tight">Users</h1>
    @if (Model.Users.Any()) {
        foreach (var user in Model.Users) {
            <div class="p-2">
                <h2>@user.Name</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Fact</td>
                        <td>Source</td>
                        <td>Justification</td>
                        <td>Embedding</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var fact in user.Facts) {
                            <tr>
                                <td>@fact.Content</td>
                                <td>@fact.Source</td>
                                <td>@fact.Justification</td>
                                <td>
                                    @fact.Embeddings.ToArray().Length
                                    <details>
                                        @string.Join(",", fact.Embeddings)
                                    </details>
                                </td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" asp-for="FactId" value="@fact.Id" />
                                        <button type="submit">Delete Fact</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    } else {
        <div class="m-4 p-4">
            No users in the database.
        </div>
    }
</section>