@page
@model AIDemoWeb.Demos.Pages.Assistants.CreateAssistantPageModel

@{
    ViewData["Title"] = "Create an assistant";
}

<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold leading-tight">Create an assistant</h1>

    <div asp-validation-summary="ModelOnly" class="text-sm text-red-600"></div>

    <form method="post">
        <div class="p-2">
            <label asp-for="Assistant.Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="Assistant.Name" />
            <span asp-validation-for="Assistant.Name"></span>
        </div>
        <div class="p-2">
            <label asp-for="Assistant.Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <textarea asp-for="Assistant.Description"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:cursor-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="A description of the assistant…"
            >
            </textarea>
            <span asp-validation-for="Assistant.Description"></span>
        </div>
        <div class="p-2">
            <label asp-for="Assistant.Instructions" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <textarea asp-for="Assistant.Instructions"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:cursor-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Instructions to provide to the assistant…"
            >
            </textarea>
            <span asp-validation-for="Assistant.Instructions"></span>
        </div>
        <div class="p-2">
            <label asp-for="FileIds" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Files</label>
            @foreach (var fieldId in Model.AvailableFileIds) {
                <label class="block">
                    <input type="checkbox" name="FileIds" value="@fieldId.Value" /> @fieldId.Text
                </label>
            }
        </div>
        <div class="p-2">
            <label asp-for="Tools" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tools</label>
            @foreach (var tool in Model.AvailableTools) {
                <label class="block">
                    <input type="checkbox" name="Tools" value="@tool.Type" /> <code>@tool.Type</code> @tool.Description
                </label>
            }
        </div>
        <div class="p-2">
            <label asp-for="Tools" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Functions</label>
            @foreach (var tool in Model.AvailableFunctions) {
                <label class="block">
                    <input type="checkbox" name="Tools" value="@tool.Function.Name" /> <code>@tool.Function.Name</code> @tool.Description
                </label>
            }
        </div>

        <input type="submit" class="btn btn-primary" />
    </form>
</section>