@model IReadOnlyList<Haack.AIDemoWeb.Library.Clients.ThreadRun>

<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        <th scope="col" class="px-6 py-3">id</th>
        <th scope="col" class="px-6 py-3">thread_id</th>
        <th scope="col" class="px-6 py-3">assistant_id</th>
        <th scope="col" class="px-6 py-3">status</th>
        <th scope="col" class="px-6 py-3">timings</th>
        <th scope="col" class="px-6 py-3">last_error</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var run in Model) {
        <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">@run.Id</th>
            <td class="px-6 py-4"><code>@run.ThreadId</code></td>
            <td class="px-6 py-4"><code>@run.AssistantId</code></td>
            <td class="px-6 py-4"><code>@run.Status</code></td>
            <td class="px-6 py-4">
                @if (run.StartedAt.HasValue) {
                    <div><span class="text-gray-400">started_at:</span> @run.StartedAt</div>
                }

                @if (run.CompletedAt.HasValue) {
                    <div><span class="text-gray-400">completed_at:</span> @run.CompletedAt</div>
                }

                @if (run.CancelledAt.HasValue) {
                    <div><span class="text-gray-400">canceled_at:</span> @run.CancelledAt</div>
                }

                @if (run.ExpiresAt.HasValue) {
                    <div><span class="text-gray-400">expires_at:</span> @run.ExpiresAt</div>
                }

                @if (run.FailedAt.HasValue) {
                    <div><span class="text-gray-400">failed_at:</span> @run.FailedAt</div>
                }
            </td>
            <td class="px-6 py-4">
                @if (run.LastError is { } lastError) {
                    <dl class="divide-y divide-gray-100">
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900">Code</dt>
                            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">@lastError.Code</dd>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900">Message</dt>
                            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">@lastError.Message</dd>
                        </div>
                    </dl>
                } else {
                    <span class="text-gray-400 italic">None</span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
