@page
@model AIDemoWeb.Demos.Pages.ModelsPageModel
@{
    ViewData["Title"] = "List of Models";
}

<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold leading-tight">Models in use</h1>
    <div>
        This demo uses <strong>@Model.CompletionsModel</strong> for chat completions and <strong>@Model.EmbeddingsModel</strong> for embeddings.
    </div>


    <h1 class="text-lg font-semibold leading-tight mt-2">Available Models</h1>
    <table class="ml-4">
        <thead>
        <tr>
            <th>id</th>
            <th>created</th>
            <th>owned_by</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var modelEntity in Model.Models.OrderBy(m => m.Id)) {
                <tr>
                    <td>@modelEntity.Id</td>
                    <td>@modelEntity.CreatedAt</td>
                    <td>@modelEntity.OwnedBy</td>
                </tr>
            }
        </tbody>
    </table>
</section>
