@page
@model AIDemoWeb.Demos.Pages.ContactsPageModel

@{
    ViewData["Title"] = "Contacts";
}

<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold leading-tight">Contacts</h1>

    <label class="text-sm text-gray-500 dark:text-gray-400">Imported Contacts</label>
    <span class="text-sm text-gray-500 dark:text-gray-400">@Model.TotalImportedContacts</span>

    <label class="text-sm text-gray-500 dark:text-gray-400">Imported Contacts With Addresses</label>
    <span class="text-sm text-gray-500 dark:text-gray-400">@Model.TotalImportedContactsWithAddresses</span>

    <label class="text-sm text-gray-500 dark:text-gray-400">Imported Contacts With Locations</label>
    <span class="text-sm text-gray-500 dark:text-gray-400">@Model.TotalImportedContactsWithAddressLocations</span>


    @if (Model.Contacts.Any()) {
        <p class="text-sm text-gray-500 dark:text-gray-400">Showing @Model.Contacts.Count API contacts</p>
        <details>
            @foreach (var contact in Model.Contacts) {
            <div class="p-2">
                <h2>
                    @if (contact.Photos is not null) {
                    foreach (var photo in contact.Photos) {
                    <img src="@photo.Url" alt="Contact photo" class="w-12 h-12 rounded-full" />
                    }
                    }

                    @if (contact.Names is not null)
                    {
                    foreach (var name in contact.Names)
                    {
                    <span class="text-lg font-semibold">@name.DisplayName</span>
                    }
                    }
                    else
                    {
                    <span>Contact has no name</span>
                    }

                    @if (contact.Nicknames is not null)
                    {
                    <span> AKA </span>
                    foreach (var name in contact.Nicknames)
                    {
                    <span class="text-lg font-semibold">(@name.Value)</span>
                    }
                    }

                </h2>
                <div>
                    @if (contact is { Addresses: { } addresses }) {
                    foreach (var address in addresses) {
                    <div>
                        <strong class="text-xs text-gray-300 dark:text-gray-100">@address.Type</strong>
                        <span class="text-xs text-gray-500 dark:text-gray-400">@address.FormattedValue</span>
                    </div>
                    }
                    }
                </div>
            </div>
            }
        </details>

        if (Model.NextPageToken is not null)
        {
            <a asp-route-next="@Model.NextPageToken" class="btn btn-primary">Next Page</a>
        }

    } else {
        <div class="m-4 p-4">
            No contacts.
        </div>
    }

    <form method="post">
        <button type="submit" class="btn btn-primary">Import</button>
        <button asp-page-handler="delete" type="submit" class="btn btn-danger">Truncate</button>
    </form>
</section>